:root {
  --round: 20px;
}

/* ============================ App 1 ============================ */

.AppOne__container {
  display: grid;
  grid-template-columns: repeat(6, 1fr) minmax(100px, 1fr);
  grid-template-rows: repeat(8, 1fr) minmax(100px, 1fr);
  width: max-content;
  height: max-content;
}

figure {
  margin: 0;
}

.AppOne__item-one {
  grid-column: 1 / -1;
  grid-row: 1 / 6;
}

.AppOne__item-two {
  z-index: 2;
  grid-column: 2 /-1;
  grid-row: 4 / 8;
  background-color: white;
  border-top-left-radius: var(--round);
}

.AppOne__title {
  font-size: 1.5rem;
}
.AppOne__title-two {
  padding-left: var(--round);
}

.AppOne__image {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.AppOne__image-one {
  border-radius: var(--round);
  clip-path: polygon(
    30% 0%,
    70% 0%,
    100% 0%,
    100% 63%,
    15% 63%,
    15% 100%,
    0% 100%,
    0% 0%
  );
  background-image: url(https://loremflickr.com/400/300/);
}
.AppOne__image-two {
  clip-path: inset(5% 0px 0px 3% round var(--round));
  background-image: url(https://placekitten.com/640/360);
}

@media (max-width: 900px) {
  .AppOne__container {
    grid-template-columns: repeat(6, 1fr) minmax(80px, 1fr);
    grid-template-rows: repeat(8, 1fr) minmax(80px, 1fr);
  }
  .AppOne__title {
    font-size: 1.2rem;
  }
}

@media (max-width: 600px) {
  .AppOne__container {
    grid-template-columns: repeat(6, 1fr) minmax(60px, 1fr);
    grid-template-rows: repeat(8, 1fr) minmax(60px, 1fr);
  }
  .AppOne__title {
    font-size: 1rem;
  }
}

/* ============================ App 2 ============================ */

.AppTwo__container {
  display: grid;
  grid-template-columns: 600px;
  grid-template-rows: 400px;
}

.AppTwo__container > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.AppTwo__item {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.AppTwo__image-one {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-image: url(https://loremflickr.com/400/300/);
  position: relative;
}
span {
  font-size: 1.5rem;
  position: absolute;
  bottom: -3rem;
}

.container_two {
  transform: translate(10%, 50%) scale(0.8);
  background-color: white;
  border-top-left-radius: var(--round);
}

.AppTwo__image-two {
  position: relative;
  width: 97%;
  height: 100%;
  border-radius: var(--round);
  transform: translate(20px, 20px);
  background-image: url(https://loremflickr.com/400/300/);
}

.AppTwo__image-two span {
  font-size: 2rem;
}
